<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog-edit</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" href="../../static/css/index.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/editormd/css/editormd.css}"
          href="../../static/lib/editor-md/css/editormd.css">
</head>
<body>
<!-- 导航 -->
<nav th:replace="admin/_fragments :: menu(2)"></nav>
<!-- 内容 -->
<main class="main-container" style="height: auto;padding-bottom: 5em">
    <div class="m-container-small">
        <div class="ui container">
            <div class="ui segment">
                <form id="blog-form"
                      action="#" method="post"
                      th:object="${blog}" th:action="@{/admin/blogs}"
                      class="ui form">
                    <input type="hidden" name="published" th:value="*{published}">
                    <input type="hidden" name="id" th:value="*{id}">
                    <div class="required field">
                        <div class="ui left labeled input">
                            <div class="ui section dropdown teal basic label">
                                <input type="hidden" name="flag.id" th:value="*{flag} != null ? *{flag.id} : 1">
                                <div class="text" th:text="*{flag} != null ? *{flag.name} : '原创'"></div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div th:each="flag : ${flags}" class="item" data-value="1" th:data-value="${flag.id}" th:text="${flag.name}">原创</div>
                                </div>
                            </div>
                            <input type="text" name="title" placeholder="标题" th:value="*{title}">
                        </div>
                    </div>
                    <div class="required field">
                        <div class="ui left labeled input">
                            <label class="ui teal basic label"><i class="image icon"></i>首图地址</label>
                            <input type="text" name="firstPicture" th:value="*{firstPicture}" placeholder="url... ...">
                        </div>
                    </div>
                    <div class="required field">
                        <div id="content-editormd" style="z-index: 10 !important;">
                            <textarea name="content" style="display:none;"></textarea>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="required four wide field">
                            <div class="ui action labeled input">
                                <div class="ui label teal basic">分类</div>
                                <div class="ui dropdown fluid selection">
                                    <input type="hidden"name="type.id" th:value="*{type} != null ? *{type.id}">
                                    <div class="default text"></div>
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        <div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}">错误日志</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="twelve wide field">
                            <div class="ui action labeled input">
                                <div class="ui label teal basic">标签</div>
                                <div class="ui dropdown fluid multiple search selection">
                                    <input type="hidden" name="tagIds" th:value="*{tagIds}">
                                    <div class="default text"></div>
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        <div th:each="tag : ${tags}" class="item" data-value="1" th:data-value="${tag.id}" th:text="${tag.name}">js</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="required field">
                        <textarea name="description" th:text="*{description}" placeholder="博客描述..." maxlength="200"></textarea>
                    </div>
                    <div class="fields">
                        <div class="field">
                            <div class="ui slider checkbox">
                                <input type="checkbox" id="recommend" name="recommend"
                                       class="hidden"
                                       th:checked="*{recommend}"
                                >
                                <label for="recommend">推荐</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui slider checkbox">
                                <input type="checkbox" id="shareStatement" name="shareStatement"
                                       class="hidden"
                                       checked th:checked="*{shareStatement}"
                                >
                                <label for="shareStatement">转载声明</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui slider checkbox">
                                <input type="checkbox" id="appreciation" name="appreciation" class="hidden"
                                       th:checked="*{appreciation}"
                                >
                                <label for="appreciation">赞赏</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui slider checkbox">
                                <input type="checkbox" id="commentable" name="commentable" class="hidden"
                                       checked th:checked="*{commentable}"
                                >
                                <label for="commentable">留言</label>
                            </div>
                        </div>
                    </div>
                    <div class="ui error message"></div>
                    <div class="ui container right aligned" style="margin-top: 2em">
                        <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                        <button type="button" id="save-btn" th:if="*{published == false}"
                                class="ui secondary button">保存</button>
                        <button type="button" id="publish-btn" class="ui teal button">发布</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<!--页脚-->
<footer th:replace="admin/_fragments :: footer"></footer>
<script type="text/javascript" th:src="@{/lib/jquery.min.js}" src="../static/lib/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/lib/editormd/editormd.min.js}"
        src="../../static/lib/editor-md/editormd.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<script type="text/javascript" th:src="@{/js/admin-blog-edit.js}" src="../../static/js/admin.js"></script>
<script type="text/javascript" th:src="@{/js/admin-markdown.js}" src="../../static/js/admin-markdown.js"></script>
</body>
</html>
