<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog-admin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" href="../../static/css/index.css">
</head>
<body>
<!-- 导航 -->
<nav th:replace="admin/_fragments :: menu(0)"></nav>
<!-- 内容 -->
<div class="main-container">
    <div class="m-padded-td-big m-container m-mobile-padded-td-big">
        <div class="ui container">
            <div class="ui icon positive message">
                <i class="hand peace outline icon"></i>
                <div class="content">
                    <h3>登录成功</h3>
                    <p>回来啦~~~</p>
                    <p>欢迎ヾ(@^▽^@)ノ欢迎</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--页脚-->
<footer th:replace="admin/_fragments :: footer"></footer>
<script type="text/javascript" th:src="@{/lib/jquery.min.js}" src="../static/lib/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<script type="text/javascript" th:src="@{/js/admin.js}"src="../../static/js/admin.js"></script>
</body>
</html>
