<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tag-admin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" href="../../static/css/index.css">
</head>
<body>
<!-- 导航 -->
<nav th:replace="admin/_fragments :: menu(4)"></nav>
<!-- 内容 -->
<main class="main-container" style="padding-top: 3em">
        <div class="m-container-small">
            <div class="ui container">
                <div style="min-height: 4em">
                    <div class="ui success mini message" th:unless="${#strings.isEmpty(success)}">
                        <div class="header">提示：</div>
                        <p th:text="${success}">操作成功！</p>
                    </div>
                    <div class="ui error mini message" th:unless="${#strings.isEmpty(error)}">
                        <div class="header">提示：</div>
                        <p th:text="${error}">操作失败！</p>
                    </div>
                </div>
                <div class="ui pointing menu teal">
                    <a th:href="@{/admin/tags}" href="#" class="active item">列表</a>
                    <a href="#" class="item">编辑</a>
                </div>
                <table class="ui single line fixed table rounded">
                    <thead>
                    <tr class="center aligned">
                        <th colspan="1"></th>
                        <th colspan="2">标签名称</th>
                        <th colspan="4">操作</th>
                    </tr>
                    </thead>
                    <tbody class="center aligned">
                    <tr th:each="tag,iterStat : ${page.content}" style="min-height: 10em">
                        <td th:text="${iterStat.count}">1</td>
                        <td colspan="2" th:text="${tag.name}">刻意练习</td>
                        <td colspan="2" class="right aligned">
                            <a href="#" th:href="@{/admin/tags/{id}/input(id=${tag.id})}"
                               class="ui button mini green basic">编辑</a>
                        </td>
                        <td colspan="2" class="left aligned">
                            <a href="#" th:href="@{/admin/tags/{id}/delete(id=${tag.id})}"
                               class="ui button mini orange basic">删除</a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="7">
                            <div class="ui small pagination menu " th:if="${page.totalPages}>1">
                                <a th:href="@{/admin/tags(page=${page.number} - 1)}" class="item">上一页</a>
                                <a th:href="@{/admin/tags(page=${page.number} + 1)}" class="item">下一页</a>
                            </div>
                            <a href="#" th:href="@{/admin/tags/input}"
                               class="ui button teal right floated basic">新增</a>
                        </th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</main>
<!--页脚-->
<footer th:replace="admin/_fragments :: footer"></footer>
<script type="text/javascript" th:src="@{/lib/jquery.min.js}" src="../static/lib/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<script type="text/javascript" th:src="@{/js/admin.js}" src="../static/js/admin-edit.js"></script>
</body>
</html>
