<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>归档</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
<!-- 导航 -->
<div th:replace="_fragments :: slider(4)" class="ui tiny thin sidebar inverted vertical menu uncover animating"></div>
<nav th:replace="_fragments :: menu(4)" class="ui fixed inverted borderless menu"></nav>
<!-- 内容 -->
<main class="pusher">
    <div class="main-container">
        <div class="m-padded-td-big m-container m-mobile-padded-td-big">
            <div class="ui container">
                <div class="ui segments">
                    <!----- header ----->
                    <div class="ui segment">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <h3 class="ui pink header">博客</h3>
                            </div>
                            <div class="column right aligned">
                                共 <h3 class="ui orange header m-inline-block m-text-thin">14</h3> 篇
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui styled fluid accordion">
                    <div class="active title">
                        <i class="dropdown icon"></i>
                        2021
                    </div>
                    <div class="active content">
                        <div class="ui divided items m-padded-rl">
                            <div class="item">
                                <div class="content">
                                    <div class="header"><i class="star icon"></i>标题</div>
                                    <span class="content m-opacity-tiny m-pink">2021-03-21</span>
                                </div>
                                <div class="description">
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <div class="header"><i class="star icon"></i>标题</div>
                                    <span class="content m-opacity-tiny m-pink">2021-03-21</span>
                                </div>
                                <div class="description">
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <div class="header"><i class="star icon"></i>标题</div>
                                    <span class="content m-opacity-tiny m-pink">2021-03-21</span>
                                </div>
                                <div class="description">
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        2021
                    </div>
                    <div class="content">
                        <div class="ui divided items m-padded-rl">
                            <div class="item">
                                <div class="content">
                                    <div class="header"><i class="star icon"></i>标题</div>
                                    <span class="content m-opacity-tiny m-pink">2021-03-21</span>
                                </div>
                                <div class="description">
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <div class="header"><i class="star icon"></i>标题</div>
                                    <span class="content m-opacity-tiny m-pink">2021-03-21</span>
                                </div>
                                <div class="description">
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <div class="header"><i class="star icon"></i>标题</div>
                                    <span class="content m-opacity-tiny m-pink">2021-03-21</span>
                                </div>
                                <div class="description">
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="active title">
                        <i class="dropdown icon"></i>
                        2021
                    </div>
                    <div class="active content">
                        <div class="ui divided items m-padded-rl">
                            <div class="item">
                                <div class="content">
                                    <div class="header"><i class="star icon"></i>标题</div>
                                    <span class="content m-opacity-tiny m-pink">2021-03-21</span>
                                </div>
                                <div class="description">
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <div class="header"><i class="star icon"></i>标题</div>
                                    <span class="content m-opacity-tiny m-pink">2021-03-21</span>
                                </div>
                                <div class="description">
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <div class="header"><i class="star icon"></i>标题</div>
                                    <span class="content m-opacity-tiny m-pink">2021-03-21</span>
                                </div>
                                <div class="description">
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                    <a target="_blank" class="ui label basic">网sss络</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--页脚-->
    <footer th:replace="_fragments :: footer_mobile" class="ui inverted vertical footer segment m-padded-td-max m-mobile-show"></footer>
    <footer th:replace="_fragments :: footer_pc" class="ui inverted vertical footer segment m-padded-td-max m-mobile-hide"></footer>
</main>
<script type="text/javascript" th:src="@{lib/jquery.min.js}" src="../static/lib/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<script type="text/javascript" th:src="@{js/index.js}" src="../static/js/index.js" ></script>
</body>
</html>
