<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
<!-- 导航 -->
<div th:replace="_fragments :: slider(0)" class="ui tiny thin sidebar inverted vertical menu uncover animating"></div>
<nav th:replace="_fragments :: menu(0)" class="ui fixed inverted borderless menu"></nav>
<!-- 内容 -->
<main class="pusher">
    <div class="main-container">
        <div class="m-padded-td-max m-container m-mobile-padded-td-big">
            <div class="ui container">
                <div class="ui grid">
                    <div id="blog" class="eleven wide column">
                        <!-- header -->
                        <div class="ui segment top attached m-mobile-hide">
                            <div class="ui middle aligned grid">
                                <div class="eleven wide column">
                                    <div class="ui horizontal link list">
                                        <div class="item">
                                            <img src="https://picsum.photos/id/0/100/100" alt=""
                                                 th:src="@{${blog.user.avatar}}"
                                                 class="ui avatar image">
                                            <div class="content">
                                                <span th:text="${blog.user.nickname}">Irenia</span>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <span class="content">
                                                <i class="calendar icon"></i>
                                                <span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2017-10-01</span>
                                            </span>
                                        </div>
                                        <div class="item">
                                            <span class="content"><i class="eye icon"></i>
                                                <span th:text="${blog.views}">2342</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column right aligned">
                                    <div class="ui label orange basic" th:text="${blog.flag.name}">原创</div>
                                </div>
                            </div>
                        </div>
                        <div id="blog-title" class="ui segment attached">
                            <h1 class="ui header" th:text="${blog.title}">sdsdssdsd</h1>
                            <!-- images -->
                            <img src="https://picsum.photos/id/200/800/450" alt=""
                                 th:src="@{${blog.firstPicture}}"
                                 class="ui rounded fluid image m-mobile-hide">
                        </div>
                        <!-- content -->
                        <div class="ui segment padded attached bottom">
                            <div id="content" th:utext="${blog.content}"
                                 class="m-padded-rl-response typo typo-selection">
                            </div>
                            <div>
                            </div>
                            <!-- tag -->
                            <div class="ui segment basic" th:if="${blog.tags.size() > 0}">
                                <div class="ui pink tag label" th:each="tag : ${blog.tags}" th:text="${tag.name}">>方法论
                                </div>
                            </div>
                            <!-- info -->
                            <div class="ui segment basic">
                                <div class="ui positive message" th:if="${blog.shareStatement}">
                                    <p>版权声明</p>
                                    <ui class="list">
                                        <li>作者：<span th:text="${blog.user.nickname}">李仁密</span><a href="#"
                                                                                                  th:href="@{/about}"
                                                                                                  target="_blank">（联系作者）</a>
                                        </li>
                                        <li>发表时间：<span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm')}">2017-10-02 09:08</span>
                                        </li>
                                        <li>版权声明：自由转载-非商用-非衍生-保持署名（创意共享3.0许可证）</li>
                                        <li>公众号转载：请在文末添加作者公众号二维码</li>
                                    </ui>
                                </div>
                            </div>
                        </div>
                        <!-- message -->
                        <div class="ui segments">
                            <div class="ui secondary segment">
                                <p class="ui header pink center aligned">留言</p>
                            </div>
                            <div class="ui pink segment">
                                <form name="comment-form" class="ui form comment-form">
                                    <input type="hidden" name="blog.id" th:value="${blog.id}">
                                    <input type="hidden" name="parentComment.id" value="-1">
                                    <div class="field">
                                        <textarea style="height: 10px" name="content"
                                                  placeholder="说点什么吧... ..."></textarea>
                                    </div>
                                    <div class="fields">
                                        <div class="four wide field">
                                            <div class="ui left icon input">
                                                <i class="user icon"></i>
                                                <input type="text" name="nickname" placeholder="昵称">
                                            </div>
                                        </div>
                                        <div class="seven wide required field">
                                            <div class="ui left icon input">
                                                <i class="mail icon"></i>
                                                <input type="text" name="email" placeholder="邮箱">
                                            </div>
                                        </div>
                                        <div class="ui submit button icon pink comment-btn"
                                             data-formselector="comment-form"
                                        >
                                            <i class="send icon"></i>
                                            发布
                                        </div>

                                    </div>
                                    <div class="ui error message"></div>
                                </form>
                            </div>
                            <div class="ui segment">
                                <div th:fragment="commentList" id="comment-list">
                                    <div class="ui comments">
                                        <div class="comment" th:each="comment : ${comments}">
                                            <a class="avatar">
                                                <img th:src="@{${comment.avatar}}"
                                                     src="https://avatars.dicebear.com/api/gridy/jess.svg">
                                            </a>
                                            <div class="content">
                                                <a class="author" th:text="${comment.nickname}">Elliot Fu</a>
                                                <div class="metadata">
                                                    <span class="date"
                                                          th:text="${#dates.format(comment.createTime,'yyyy-MM-dd HH:mm')}">Yesterday at 12:30AM</span>
                                                </div>
                                                <div class="text" th:text="${comment.content}">
                                                    <p>This has been very useful for my research. Thanks as well!</p>
                                                </div>
                                                <div class="actions">
                                                    <a class="reply reply-btn"
                                                       th:attr="data-formselector=|reply-form${comment.id}|"
                                                    >回复</a>
                                                    <a class="reply-close-btn"
                                                       th:attr="data-formselector=|reply-form${comment.id}|"
                                                       th:classappend="|reply-form${comment.id}|"
                                                       style="display: none">关闭回复</a>
                                                </div>
                                                <form class="ui reply form reply-form"
                                                      th:classappend="|reply-form${comment.id}|"
                                                      style="display: none">
                                                    <input hidden name="blog.id" th:value="${comment.blog.id}">
                                                    <input hidden name="parentComment.id" th:value="${comment.id}">
                                                    <div class="field">
                                                    <textarea style="height: 4px" class="small" name="content"
                                                              placeholder="说点什么吧"></textarea>
                                                    </div>
                                                    <div class="fields">
                                                        <div class="four wide field">
                                                            <div class="ui left icon small input">
                                                                <i class="user icon"></i>
                                                                <input type="text" name="nickname">
                                                            </div>
                                                        </div>
                                                        <div class="seven wide field">
                                                            <div class="ui left icon small input">
                                                                <i class="mail icon"></i>
                                                                <input type="text" name="email" placeholder="邮箱">
                                                            </div>
                                                        </div>
                                                        <div class="ui small submit button pink comment-btn"
                                                             th:attr="data-formselector=|reply-form${comment.id}|"
                                                        >
                                                            回复
                                                        </div>
                                                    </div>
                                                    <div class="ui error message"></div>
                                                </form>
                                            </div>
                                            <div class="comments" th:if="${comment.replyComments.size() > 0}">
                                                <div class="comment" th:each="reply : ${comment.replyComments}">
                                                    <a class="avatar">
                                                        <img th:src="@{${reply.avatar}}"
                                                             src="https://avatars.dicebear.com/api/gridy/jenny.svg">
                                                    </a>
                                                    <div class="content">
                                                        <a class="author" th:text="${reply.nickname}">Jenny Hess
                                                        &nbsp;<span th:text="|@ ${reply.parentComment.nickname}|"
                                                                    class="m-pink">@ 小白</span>
                                                        </a>
                                                        <div class="metadata">
                                                        <span class="date"
                                                              th:text="${#dates.format(reply.createTime,'yyyy-MM-dd HH:mm')}">
                                                        Just now</span>
                                                        </div>
                                                        <div class="text" th:text="${reply.content}">
                                                            Elliot you are always so right :)
                                                        </div>
                                                        <div class="actions">
                                                            <a class="reply reply-btn"
                                                               th:attr="data-formselector=|sub-reply-form${reply.id}|"
                                                               th:text="|回复 ${reply.nickname}|"
                                                            ></a>
                                                            <a class="reply-close-btn"
                                                               th:attr="data-formselector=|sub-reply-form${reply.id}|"
                                                               th:classappend="|sub-reply-form${reply.id}|"
                                                               style="display: none">关闭回复</a>
                                                        </div>
                                                        <form class="ui reply form reply-form"
                                                              th:classappend="|sub-reply-form${reply.id}|"
                                                              style="display: none">
                                                            <input hidden name="blog.id" th:value="${reply.blog.id}">
                                                            <input hidden name="parentComment.id" th:value="${reply.id}">
                                                            <div class="field">
                                                            <textarea style="height: 4px" class="small" name="content"
                                                                      placeholder="说点什么吧"></textarea>
                                                            </div>
                                                            <div class="fields">
                                                                <div class="four wide field">
                                                                    <div class="ui left icon small input">
                                                                        <i class="user icon"></i>
                                                                        <input type="text" name="nickname"
                                                                               placeholder="昵称">
                                                                    </div>
                                                                </div>
                                                                <div class="seven wide field">
                                                                    <div class="ui left icon small input">
                                                                        <i class="mail icon"></i>
                                                                        <input type="text" name="email"
                                                                               placeholder="邮箱">
                                                                    </div>
                                                                </div>
                                                                <button class="ui small submit button pink comment-btn"
                                                                        th:attr="data-formselector=|sub-reply-form${reply.id}|">
                                                                    回复
                                                                </button>
                                                            </div>
                                                            <div class="ui error message"></div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column m-mobile-show" style="margin-left: -2em; width: 3em !important;">
                        <div class="ui sticky mobile">
                            <div class="ui mini icon vertical buttons">
                                <button class="ui white button m-pink toTop-button"><i class="arrow up icon"></i>
                                </button>
                                <button class="toc-pop-up-button ui pink button"><i class="list icon"></i></button>
                            </div>
                            <div class="toc-pop-up ui flowing popup">
                                <ol class="mobile-tocbot">
                                </ol>
                            </div>
                            <!-- great -->
                        </div>
                    </div>
                    <div class="five wide column m-mobile-hide">
                        <div class="ui sticky">
                            <!-- nav -->
                            <div class="ui segments">
                                <div class="ui segment top attached">
                                    <div class="ui breadcrumb">
                                        <div class="section">主页</div>
                                        <div class="divider"> /</div>
                                        <div class="active section">博客</div>
                                    </div>
                                </div>
                                <div class="ui segment attached left aligned">
                                    <ol class="tocbot">
                                    </ol>
                                </div>
                            </div>
                            <!-- buttons -->
                            <div class="ui right aligned basic segment" style="margin-top: -10px">
                                <div class="qr-pop-up-button ui orange mini button">分享</div>
                                <div class="qr-pop-up ui flowing popup">
                                    <div class="ui label basic pink">
                                        <div id="qrcode" class="ui rounded bordered image"
                                             style="width: 110px"></div>
                                    </div>
                                </div>
                                <button class="ui right labeled icon mini secondary button toTop-button">
                                    <i class="right arrow up icon  m-pink"></i>
                                    回到顶部
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--页脚-->
    <footer th:replace="_fragments :: footer_mobile"
            class="ui inverted vertical footer segment m-padded-td-max m-mobile-show"></footer>
    <footer th:replace="_fragments :: footer_pc"
            class="ui inverted vertical footer segment m-padded-td-max m-mobile-hide"></footer>
</main>
<script type="text/javascript" th:src="@{/lib/jquery.min.js}" src="../static/lib/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<script type="text/javascript" th:src="@{/lib/prism/prism.js}" src="../static/lib/prism/prism.js"></script>
<script type="text/javascript" th:src="@{/lib/tocbot/tocbot.min.js}" src="../static/lib/tocbot/tocbot.min.js"></script>
<script type="text/javascript" th:src="@{/lib/qrcode/qrcode.min.js}" src="../static/lib/qrcode/qrcode.min.js"></script>
<script type="text/javascript" th:src="@{/js/blog.js}" src="../static/js/blog.js"></script>
<script type="text/javascript" th:src="@{/js/index.js}" src="../static/js/index.js"></script>
</body>
</html>
