<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分类</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
<!-- 导航 -->
<div th:replace="_fragments :: slider(2)" class="ui tiny thin sidebar inverted vertical menu uncover animating"></div>
<nav th:replace="_fragments :: menu(2)" class="ui fixed inverted borderless menu"></nav>
<!-- 内容 -->
<main class="pusher">
    <div class="main-container">
        <div class="m-padded-td-big m-container m-mobile-padded-td-big">
            <div class="ui container">
                <div class="ui stackable grid">
                    <div class="five wide column center aligned">
                        <div class="ui segments">
                            <div class="ui secondary segment">
                                <h3><i class="idea icon"></i>分类</h3>
                            </div>
                            <div class="ui pink segment">
                                <div class="ui fluid vertical menu">
                                    <a th:each="type : ${types}"
                                       th:href="@{/type/{id}(id=${type.id})}"
                                       class="m-black item"
                                       th:classappend="${type.id == activeTypeId} ? 'm-pink'"
                                       th:if="${type.blogs.size() > 0}"
                                    >
                                        <span th:text="${type.name}"></span>
                                        <div class="ui tag label basic pink left pointing"
                                             th:text="${type.blogs.size()}">
                                            13
                                        </div>
                                    </a>
                                    <!--/*-->
                                    <a href="" class="item">学习日志
                                        <div class="ui tag label basic pink left pointing">13</div>
                                    </a>
                                    <a href="" class="item">学习日志
                                        <div class="ui tag label basic pink left pointing">13</div>
                                    </a>
                                    <a href="" class="item">学习日志
                                        <div class="ui tag label basic pink left pointing">13</div>
                                    </a>
                                    <a href="" class="item">学习日志
                                        <div class="ui tag label basic pink left pointing">13</div>
                                    </a>
                                    <a href="" class="item">学习日志
                                        <div class="ui tag label basic pink left pointing">13</div>
                                    </a>
                                    <a href="" class="item">学习日志
                                        <div class="ui tag label basic pink left pointing">13</div>
                                    </a>
                                    <!--*/-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="eleven wide column">
                        <!----- header ----->
                        <div class="ui top attached segment">
                            <div class="ui middle aligned two column grid">
                                <div class="column">
                                    <h3 class="ui pink header" th:text="${activeTypeName}">博客</h3>
                                </div>
                                <div class="column right aligned">
                                    共 <h3 class="ui orange header m-inline-block m-text-thin"
                                          th:text="${activeTypeBlogsSize}"
                                >14</h3> 篇
                                </div>
                            </div>
                        </div>
                        <!----- content ----->
                        <div class="ui segment attached">
                            <div class="ui padded vertical segment m-padded-td-large  m-padded-rl"
                                 th:each="blog : ${blogs.content}"
                            >
                                <div class="ui stackable mobile reversed middle aligned grid">
                                    <div class="eleven wide column">
                                        <h3 class="ui header">
                                            <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank"
                                               class="m-black" th:text="${blog.title}">你真的理解什么是财富自由吗?</a>
                                        </h3>
                                        <p class="m-opacity-min m-text-thin"
                                           th:text="|${blog.description}......|">内容 Lorem ipsum dolor sit amet,
                                            consectetur
                                            adipisicing
                                            elit. A
                                            dicta doloremque eaque incidunt iste itaque laborum magni nulla veniam
                                            vero.</p>
                                        <div class="ui middle aligned grid">
                                            <div class="eleven wide column">
                                                <div class="ui horizontal link list">
                                                    <div class="item">
                                                        <img src="https://picsum.photos/id/0/100/100" alt=""
                                                             th:src="@{${blog.user.avatar}}"
                                                             class="ui avatar image">
                                                        <div class="content"><a href="#" class="header"
                                                                                th:text="${blog.user.nickname}">Irenia</a>
                                                        </div>
                                                    </div>
                                                    <div class="item">
                                                        <i class="calendar icon"></i><span class="content"
                                                                                           th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2021-03-21</span>
                                                    </div>
                                                    <div class="item">
                                                        <i class="eye icon"></i><span class="content"
                                                                                      th:text="${blog.views}">202</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="four wide column right aligned">
                                                <a href="#" target="_blank" class="ui mini basic label pink"
                                                   th:text="${blog.type.name}">认知升级</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="five wide column">
                                        <a href="" target="_blank">
                                            <img src="https://picsum.photos/id/103/800/450"
                                                 th:src="@{${blog.firstPicture}}"
                                                 alt="" class="ui rounded image">
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!----- bottom ----->
                        <div class="ui bottom attached segment">
                            <div class="ui middle aligned two column grid">
                                <div class="column">
                                    <a class="ui mini pink basic button">上一页</a>
                                </div>
                                <div class="column right aligned">
                                    <a class="ui mini pink basic button">下一页</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--页脚-->
        <footer th:replace="_fragments :: footer_mobile"
                class="ui inverted vertical footer segment m-padded-td-max m-mobile-show">
        </footer>
        <footer th:replace="_fragments :: footer_pc"
                class="ui inverted vertical footer segment m-padded-td-max m-mobile-hide">
        </footer>
    </div>
</main>
<script type="text/javascript" th:src="@{/lib/jquery.min.js}" src="../static/lib/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<script type="text/javascript" th:src="@{/js/index.js}" src="../static/js/index.js"></script>
</body>
</html>
